{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-react",
    "plugin:react/recommended"
  ],
  "rules": {
    "space-before-function-paren": "off",
    "react/react-in-jsx-scope": "off"
  },
  "plugins": [
    "react",
    "standard"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  }
}